<footer id="Footer">

            <a href="#" id="Button"><img title="Buton spre inceputul paginii" alt="Butonul nu a putut fi afisat" src="../images/up_button.jpg" /></a>

            <address>
                <p> Website created by Blahovici Andrei-Eusebiu, student at Universitatea din Bucuresti, Computer science </p>
                <p> Email: <a href="mailto:blahovici_andrei2000@yahoo.com"> blahovici_andrei2000@yahoo.com </a> </p>
            </address>

        </footer>