<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <title> Register </title>
        <link rel="stylesheet" type="text/css" href="../cssFiles/default_css.css" />

    </head>

    <body>

		<

        <form id="login" method="post" class="center">
            <label>
                Username: <input type="text" name="username">
            </label>
            <label>
                Password: <input type="password" name="password">
            </label>
            <label>
                E-mail: <input type="text" name="email">
            </label>

            <input type="submit" value="Submit">
        </form>

		<script src="../javascriptFiles/elapseTime.js"></script>
    </body>

</html>